*{
   font-family: 'Kanit', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
}
.body {
    background-color: rgb(14, 20, 22);
  }
.hide{
    display: none;
}
.landing-section{
    position: relative;
    height: 100%;

}
.logo{
    position: absolute;
    left: 0;
    width: 5%;
    margin: 2em;
    margin-top: 3em;
    
       
}
.Iskara_kitchen{
    font-family: 'Kanit', sans-serif;
    font-family: 'Oswald', sans-serif;
    position: absolute;
    right: 0;
    margin: 1em;
    font-size: 2em;
    margin-top: 2em;
    color: white;
}